@use "./helpers" as *;

.tile {
  padding: fluid(40, 24);
  border-radius: 12px;
  border: var(--border);
  background-color: var(--color-dark-10);

  @include laptop {
    border-radius: 10px;
  }
}
