.accordion-group {
  display: grid;
  row-gap: fluid(30, 20);
}

.accordion {
  &__details {
    &[open] {
      & + .accordion__content {
        grid-template-rows: 1fr;
      }
    }
  }

  &__summary {
    list-style: none;
    color: var(--color-light);

    @include hover {
      color: var(--color-accent);
    }

    &::webkit-details-marker {
      display: none;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition-duration: 0.3s;

    &-inner {
      overflow: hidden;
    }
  }
}
