.tabs {
  &__button {
    padding: fluid(30, 18) 11px;
    border: var(--border);
    border-radius: 8px;
    background-color: transparent;

    font-size: 18px;
    color: var(--color-gray-60);

    @include tablet {
      font-size: 14px;
    }

    @include hover {
      color: var(--color-accent);
      border-color: var(--color-accent);
    }

    &.is-active {
      background-color: var(--color-dark-10);

      color: var(--color-light);
      font-weight: 500;

      pointer-events: none;
    }
  }
}
